{% extends 'mz.html' %}
{% block content %}
    <form class="form-inline" action="{% url 'pay:cjin66' %}" method="post">
        <div class="form-group">
            <label for="exampleInputName2">角色名</label>
            <input type="text" class="form-control" name="gameuser" placeholder="角色名">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail2">购买数量</label>
            <select class="form-control" name="extdata">

                <option value="111">20软妹币2000个</option>
                <option value="112">50软妹币6000个</option>
            </select>

        </div>
        <button type="submit" class="btn btn-default">点击购买</button>
    </form>
    <h2 style="color: red">[金柳露礼包]
    </h2>
    <h3 style="color: red">
        比例： <u style="color: #49b7fe;" >
    20软妹币=2000个</u>
    <br>
        <u style="color: #49b7fe;" >
                50软妹币=6000个</u>
</h3>
{% endblock %}
